@font-face {
    font-family:'8BIT WONDER' ;
    src: url('./8-BIT WONDER.TTF');
}
 
body {background-color: #3F1651;
    background-image: url('Vector.png');
    font-family:'8BIT WONDER', 'Comic Sans MS' ;
    font-size:medium;
    color: #ffffff;
    text-shadow: 5px 5px #000000;
    text-align: center;
background-repeat: no-repeat;
background-size: cover;

}
.links{
color: #f89f5b;
}
